---
---

@import "{{ site.theme }}";

.page-header {
    color: inherit;
    background-color: #fff;
    background-image: none;
}

.project-name {
    text-transform: capitalize;
}

.btn {
    color: #1e6bb8;
    transition: none;
}