---
---

@import "{{ site.theme }}";

body {
    background-color: #fff;
    color: #46433A;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.7;
}

h1, h2, h3, h4 {
    font-family: 'Oxygen', sans-serif;

}

h1 {
    font-weight: 700;
}

h3 {
    font-size: 1em;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}

a:hover, .btn:hover {
   color: #46433A;
}

.page-header {
    background-image: url('/assets/images/header.jpg');
    background-color: #fff;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #666;
    padding-top: 170px;
    padding-bottom: -50px;
}

.project-name {
    text-transform: capitalize;
}

.btn {
    color: #1e6bb8;
    transition: none;
}

.navbar {
    padding: 0;
    text-align: right;
}

.nav-pills li {
    display: inline;
    font-size: 80%;
}

.site-footer {
    padding: 20px;
}