<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
 <head profile='http://www.w3.org/2006/03/hcard'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Data Engineering & Analytics  - Glasgow, Scotland</title>
        <meta name="keywords" content=" Data Engineering, Data Analysis, Google Analytics, Business Intelligence, Glasgow, UK, remote" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
        <meta name="description" content="I help people use data to improve their business.Get in touch if I can help you with any aspect of data engineering or analytics." />
        <meta name="google-site-verification" content="xqq5GLMntNHUki25gv2mXI4Z4IDWFA5am7skqRj_9pU" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@backhandmedia" />
        <meta name="twitter:creator" content="@backhandmedia" />
        <meta property="twitter:image" content="http://www.backhandmedia.com/images/about_me.png" />
        <meta property="og:url" content="http://backhandmedia.com" />
        <meta property="og:title" content="Martin Bell" />
        <meta property="og:description" content="I help people use data to improve their business. Get in touch if I can help you with any aspect of data analytics; Google Analytics, data engineering, data analysis, or business intelligence. martin@backhandmedia.com" />
        <meta property="og:image" content="http://www.backhandmedia.com/images/about_me.png" />
        <script type='application/ld+json'>
        {
        "@context": "http://www.schema.org",
        "@type": "person",
        "name": "Martin Bell",
        "jobTitle": "Data Engineering Consultant",
        "url": "http://analysis.backhandmedia.com",
        "email": "martin@backhandmedia.com"
        }
        </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-275020-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-275020-4');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
      <nav class="navbar">
        <ul class="nav-pills">
            <li><a class="home" href="/">Home</a></li>
            <li><a href="//www.linkedin.com/in/bellmartin" class="url" rel="me">Linked In</a></li>
            <li><a href="//twitter.com/backhandmedia" class="url" rel="me">Twitter</a></li>
            <li><a href="http://blog.backhandmedia.com" class="url" rel="me">Blog</a></li>
            <li><a href="{{ site.github.repository_url }}" class="url" rel="me">Github</a></li>
        </ul>
    </nav>
      <header class="page-header" role="banner">
        {% if site.github.is_project_page %}
        <h1 class="project-name">{{ page.description | default: site.description | default: site.github.project_tagline }}</h1>
        <h2 class="project-tagline">Hiring? I'm available for contract and full time opportunities. <a href="http://www.backhand.tech" class="btn url" rel="me">Find out more.</a></h2>
     {% endif %}

    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

        <footer class="site-footer">
            {% if site.github.is_project_page %}
                <p class="site-footer-credits"><a href="http://www.backhand.tech" rel="me home"> Data Engineering and Analytics Consultant in <span class="p-locality">Glasgow</span>, <span class="p-region">UK</span> <span class="p-postal-code">G46</span></a></p>
                <address><a href="mailto:martin@backhand.tech">martin@backhand.tech</a></address>
                <a href="/about/colophon">Colophon</a>
                <p>&copy; Backhand Technology Ltd.</p>
            {% endif %}
        </footer>
    </main>
  </body>
</html>