<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
 <head profile='http://www.w3.org/2006/03/hcard'>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Data Engineering & Analytics  - Glasgow, Scotland</title>
        <meta name="keywords" content=" Data Engineering, Data Analysis, Google Analytics, Business Intelligence, Glasgow, UK, remote" />
        <meta name="description" content="I help people use data to improve their business.Get in touch if I can help you with any aspect of data engineering or analytics." />
        <meta name="google-site-verification" content="xqq5GLMntNHUki25gv2mXI4Z4IDWFA5am7skqRj_9pU" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@backhandmedia" />
        <meta name="twitter:creator" content="@backhandmedia" />
        <meta property="og:url" content="http://backhandmedia.com" />
        <meta property="og:title" content="Martin Bell" />
        <meta property="og:description" content="I help people use data to improve their business. Get in touch if I can help you with any aspect of data analytics; Google Analytics, data engineering, data analysis, or business intelligence. martin@backhandmedia.com" />
        <meta property="og:image" content="http://www.backhandmedia.com/images/about_me.png" />
        <script type='application/ld+json'>
        {
        "@context": "http://www.schema.org",
        "@type": "person",
        "name": "Martin Bell",
        "jobTitle": "Data Engineering Consultant",
        "url": "http://analysis.backhandmedia.com",
        "email": "martin@backhandmedia.com"
        }
        </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-275020-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-275020-4');
</script>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        <a href="http://www.backhand.tech" class="btn">Hiring? I'm available for contract and full time opportunities. Read more about me.</a>
        <a href="mailto:martin@backhand.tech" class="btn">Contact Me</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>